*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.selector{
    text-align: center;
    margin-top: 100px;
}
.selector-title{
    margin-bottom: 30px;
    color: #80b7ff;
}
.selector-show-tab{
    width: 250px;
    height: 30px;
    margin: 0 auto;
    border: #80b7ff 2px solid;
}
.selector-show-text{
    width: 100px;
    line-height: 30px;
    float: left;
    text-align: left;
    padding-left: 10px;
}
.selector-toggle-icon{
    float: right;
    width: 30px;
    height: 30px;
    background-color: #80b7ff;
}
.selector-toggle-icon:hover{
    cursor: pointer;
}
.selector-content{
    width: 250px;
    height: 250px;
    border: #80b7ff 2px solid;
    border-top: none;
    margin: 0 auto;
    overflow: auto;
    transition: all .3s;
    transform-origin: top;
    transform: scale(1, 0);
    box-shadow: 3px 3px 2px #999999;

}
.selector-options-title{
    text-align: left;
    padding-top: 10px;
}
.selector-options-group{
    text-align: left;
    font-size: 20px;
}
.selector-options-item{
    padding-left: 30px;
    line-height: 30px;
    padding-top: 3px;
}
.selector-content-search{
    width: 200px;
    line-height: 20px;
    margin-top: 10px;
}
.selector-options-item-active{
    background-color: #80b7ff;
}